<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated examplemetamodel -->
      <package
            uri="http://www.example.org/examplemetamodel"
            class="examplemetamodel.ExamplemetamodelPackage"
            genModel="model/examplemetamodel.genmodel"/>
   </extension>

</plugin>
